
@{
    Layout = ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClosedSite</title>
</head>
<body>
    <div>
        <h1>Tack till alla som deltagit i vår studie!</h1>
        <h3>Enkäten är nu stängd för analys.</h3>
    </div>
</body>
</html>
