@model Examen.Models.Email

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 id="email_info_h4">Fyll i din e-post nedan om du vill vara med i utlottningen av en trisslott.
        E-posten du fyller i kommer inte vara möjlig att koppla till dina enkätsvar.
        Vi lagrar e-posten i databasen enbart tills vårterminens slut. Detta görs för att vi sedan ska kunna dra vinnare.</h4>
        <hr />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">E-post</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 email_page_btns">
                <input type="submit" id="send_email" value="Skicka in" class="btn btn-default" />
                @Html.ActionLink("Nej tack", "ThankYou", "Questionnaire", new { @id = "no_thanks_btn" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
