@model Examen.Models.QuestionnaireModel

@{
    ViewBag.Title = "Questionnaire";
    
}
<script>

</script>

<h2>Enkät</h2>

<input id="start_btn" type="button" value="Starta enkäten" />
@*<input id="email_btn" type="button" onclick="testJ()" value="Testa JQuery" />*@
<div id="question"></div>



<script type="text/javascript">
    $(document).ready(startTime());

    function addClickEvent() {
        var loginBtn = document.getElementById("start_btn");

        loginBtn.addEventListener("click", function () {
            sendTime("qstart");
            loadQuestion('1');
        });

    }
    addClickEvent();

    function loadQuestion(input) {
        $.ajax({
            url: '/Questionnaire/Question/',
            contentType: 'application/html; charset=utf-8',
            data: { id: input},
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#question').html(result);

            }
        });
        $("#start_btn").hide();
    }
    
    function NextQuestion(input) {
        var max = @(Model.AllQuestions.Count);
        var next = input + 1;
        
        
        if(next <=  max){
            loadQuestion(next);
        }
        else{
            goToEmailPage();
        }
    }

    function goToEmailPage() {
        $.ajax({
            url: '/Questionnaire/EmailPage/',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#question').html(result);
            }
        });
    }
    $( document ).ready(function() {
        $("#login_button").text("JL4W8452");
        $("#login_button").attr("href", "#");
    });

</script>

