@{
    ViewBag.Title = "ThankYou";
}
<section class="non_cluttered_bg">
    <h2>TACK!</h2>
    <h5>För att du hjälper oss med vår kandidatexamen i informatik på mittuniversitetet.</h5>
</section>
<script>
    $(document).ready(killSession());
    $(document).ready(setTimeout(window.close, 1000));/////Flytta eventuellt denna in i killSession i Site.JS om det blir problem
</script>
