@{
    ViewBag.Title = "Välkommen";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<section class="non_cluttered_bg">
    <ol class="round">
        <li class="one">
            <h5 class="h5_bullet">Logga in</h5>
            <p class="p_bullet_text">
                Börja med att gå till inloggningssidan. Du har fått ett genererat användarnamn och lösenord som är automatiskt 
                ifyllt så det är bara att gå vidare.
            </p>
            <br />
        </li>

        <li class="two">
            <h5 class="h5_bullet">Genomför enkät</h5>
            <p class="p_bullet_text">
                Svara på frågorna i enkäten.
            </p>
            <br />
            <br />
        </li>

        <li class="three">
            <h5 class="h5_bullet">Vinn trisslott!</h5>
            <p class="p_bullet_text">
                När enkäten är genomförd har du chans att vinna en trisslott.
            </p>
            <br />
            <br />
        </li>
    </ol>
</section>

<script>
    $(document).ready(startTime(), window.moveTo(0,0), window.resizeTo(screen.availWidth, screen.availHeight));

    
    
</script>
