@{
    ViewBag.Title = "Välkommen";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<section class="bullet_page_section">
    <ol class="round">
        <li class="one">
            <h5 class="h5_bullet">Logga in</h5>
            <p class="p_bullet_text">
                Börja med att klicka på "Logga in" för att komma till inloggningssidan.
                Du har fått ett genererat användarnamn och lösenord som är automatiskt ifyllt så det är bara att klicka på "Logga in".
            </p>
            <br />
        </li>

        <li class="two">
            <h5 class="h5_bullet">Genomför enkät</h5>
            <p class="p_bullet_text">
                Svara på frågorna i enkäten. Vi lagrar <u><b>ingen</b></u> information om dig,
                men svaren du ger är viktiga för studien.
            </p>
            <br />
        </li>

        <li class="three">
            <h5 class="h5_bullet">Vinn trisslott!</h5>
            <p class="p_bullet_text">
                Efter enkäten är genomförd får du <i>frivilligt</i> fylla i din e-post ifall
                du vill vara med i utlottningen av trisslott.
            </p>
            <br />
        </li>
    </ol>
</section>

<script>
    $(document).ready(startTime());
</script>
