h5 {
    color:red;
}
h2{
    color: red;
}


#questionnaire_section{
    background: #efeeef url(../Images/clutter-bg.png) no-repeat center;
}


#login{
    float:left;
    overflow:auto;
    /*width:100%;*/
}
#login a{
    font-size:13px; /*ÄNDRA!*/
    float:left;
    background-color:transparent;
    font-weight: 600;
    color: #999;
}
#login_btn:hover{
    background-color:transparent;
}
.login_icon{
    /*display:block;    KANSKE inline-block*/
    width:18px;
    float:left;
}



.next_button{

}