h5 {
    color:yellow;
}
h2{
    color:yellow;
}
.login_button_corner{

}

/*input[type=radio]:checked + label + div .qr_div + div #question + #next_button{
    background-color:green;
    opacity:1;
    color:white;
}*/
.salient_button{
    background-color:#458B00;
    opacity:1;
    color:white;
}
