body {
}
#body{
    background: #efeeef url(../Images/clutter-bg.png) repeat;
    min-height:600px;
}

.featured{
    padding-top:20px;
}
h4{
    font-size: 1.3em;
    font-weight: normal;
}

/*#login{
    float:right;
    overflow:auto;
    /*width:100%;
}
#login a{
    font-size:17px; /*ÄNDRA!*/
    /*float:left;
    background-color:transparent;
    font-weight: 600;
    color: #999;
}
.login_icon{
    /*display:block;    KANSKE inline-block*/
    /*width:32px;
    float:left;
}*/
.float-right{
    clear:right;
}
.link_btn{
    padding: 10px;
    display: block;
    width: 80px;
    background-color: cornflowerblue;
    font-size: 1.2em;
    color: white;
    text-align: center;
}


#login_btn{
    padding: 10px;
    width: 80px;
    font-size: 1.2em;
    
    text-align: center;
    text-decoration:none;
    display:inline-block;
    /*display:block;*/
    
}
#cancel_btn{
    text-decoration:none;
    display:inline-block;
    padding: 10px;
    width:80px;
    font-size: 1.2em;
    text-align: center;
    border: 2px solid #e2e2e2;
}
#cancel_btn:hover{
    background-color:transparent;
}


#menu li:hover{
    cursor:pointer;
}

#miun-logga{
    /*width:50%;*/
    width:150px;
    /*max-width:200px;*/
    float:left;
}
.site-title{
    float:left;
}



#start_btn_div{
    padding-top:0px;
}


#clutter_table{
    width:100%;
}
#clutter_table > tbody > tr > td{
    width: 33.3%;
    padding-right:0em;
}
#clutter_table > tbody > tr > td > #start_btn{
    margin: 0;
    width: 98%;
    border: 2px solid #e2e2e2;
}




h5{
    color:forestgreen;
}
.login_button_corner{

}
.next_button{
    margin-top:20px;
    border: 1px solid #cbcbcb;
    opacity: 0.7;
    background-color: #efeeef;
}


#questionTextLine{
    height:54px;
}


#responses{
    height:310px;
}
#responsesT{
    height:310px;
}

.qr_div{
    width:100%;
    /*min-width:280px;*/
    margin:0 auto;
    overflow:auto;
    padding:15px 0px 0px 7px;
    min-height:30px;/*ENBART FÖR ATT DET ÄR transform:scale(1.5) på radiobuttons*/ /*var vara HEIGHT, men MIN-HEIGHT visar längre svar på flera rader*/
}
.qr_label{
    /*min-width:250px;*/
}
input[type=radio]{
    color:purple;
    width:auto;
    float:left;
    margin-right:20px;
    transform:scale(1.5);
    background:transparent;
}




.non_cluttered_bg{
    margin:30px auto 0px auto;
    width:50%;
    padding: 0px 20px 20px 20px; /*10 25 25 25*/
    background:white;
}
#h1_start_page{
    padding-top:20px;
}
.h5_bullet{
    font-size:1.5em;
    margin-top:0px;
    /*color:darkgray;*//*TA BORT SEN, ANVÄNDS NU BARA FÖR ATT SER UI-TYPE*/
}
.p_bullet_text{
    color:black;
    margin:0;
    font-size:1.1em;
}



#question p{
    font-size:1.5em;
    font-weight:bold;
}
.question-text{
    display:inline;
}








@media screen and (max-width: 800px){
    .non_cluttered_bg{
        width: 80%;
    }
}


@media screen and (max-width: 450px){
    .float-left{
        /*max-width:100px;*/
    }
}

@media screen and (max-width: 415px){
    #responsesT{
        height:auto;
    }
}

@media screen and (max-width: 380px){
    .non_cluttered_bg{
        width:90%;
    }
    .float-right{
        /*float:left;*/
    }
    .float-left,
    .float-right{
        margin:0 auto;
    }
}


@media screen and (max-width: 358px){
    .float-right{
        float:left;
        margin-top:10px;
    }
}

@media screen and (max-width: 290px){
    #miun-logga{
        width:100px;
    }
}