body {
}

#menu li:hover{
    cursor:pointer;
}

#miun-logga{
    width:50%;
    max-width:200px;
    float:left;
}
.site-title{
    float:left;
}


h5{
    color:green;
}
.login_button_corner{

}
.next_button{

}



.qr_div{
    width:100%;
    /*min-width:280px;*/
    margin:0 auto;
    overflow:auto;
    padding:20px 0px 0px 0px;
}
.qr_label{
    /*min-width:250px;*/
}
input[type=radio]{
    color:purple;
    width:auto;
    float:left;
    margin-right:20px;
}
